In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
comments = pd.read_csv("/content/drive/MyDrive/Colab Files/TM-Project/comments.csv", low_memory=False).iloc[0:478676, :]
answers = pd.read_csv("/content/drive/MyDrive/Colab Files/TM-Project/Answers.csv", low_memory=False).iloc[0:128813, :3]
questions = pd.read_csv("/content/drive/MyDrive/Colab Files/TM-Project/Questions.csv", low_memory=False).iloc[0:15463, :3]
newcomments = pd.read_csv("/content/drive/MyDrive/Colab Files/TM-Project/newcomments.csv")
newanswers = pd.read_csv("/content/drive/MyDrive/Colab Files/TM-Project/newanswers.csv")

In [ ]:
print(questions)

               Id  ...                                               Body
0      41412463.0  ...  <p>I have a global variable <code>global.logge...
1      41412468.0  ...  <p>I'm trying to wrap my head around an MySQL ...
2      41412475.0  ...  <p>I'm making a clickable dropdown menu. But w...
3      41412480.0  ...  <p>I am trying to use a dom repeat template wi...
4      41412481.0  ...  <p>I have setup drone.io locally and created a...
...           ...  ...                                                ...
15458  41764579.0  ...  <p>I'd like to go through all n-digit numbers ...
15459  41764605.0  ...  <p>I'm trying to customize ASP Identity 2.0 to...
15460  41764618.0  ...  <pre><code>$("selector").data("name"  null); c...
15461  41764658.0  ...  <p>I am seeing the following pattern in a lot ...
15462  41764706.0  ...  <p>I'm having troubles with updating found obj...

[15463 rows x 3 columns]

In [ ]:
print(answers)

                Id  ...                                               Body
0       41412484.0  ...  <p>You need to create a JS file called script....
1       41412502.0  ...  <p>The reference to the function in <code>setI...
2       41412509.0  ...  <p>The selector is totally clear. You are aski...
3       41412516.0  ...  <p>In general - a comma in jQuery is a separat...
4       41412517.0  ...  <p>You declared <code>answer</code> within the...
...            ...  ...                                                ...
128808  41764841.0  ...  <p>I think you want this:</p>  <pre><code>sele...
128809  41764842.0  ...  <p>For IE <code>textinput</code> works and for...
128810  41764843.0  ...  <p>I got an answer on the caniuse support page...
128811  41764846.0  ...  <p>ORA-01804: failure to initialize timezone i...
128812  41764849.0  ...  <p>You are declaring <code>v</code> as non-poi...

[128813 rows x 3 columns]

In [ ]:
print(comments)

                Id  ...                                               Text
0       70028721.0  ...                 Thanks. Is there any fix for this?
1       70028725.0  ...  Make a test case and find out... Answer it kee...
2       70028732.0  ...  Have you checked out `autoexpect`? It records ...
3       70028749.0  ...  I was going to comment like @epascarello becau...
4       70028757.0  ...  html code? you should call that javascript aft...
...            ...  ...                                                ...
478671  88316260.0  ...  This answer just ended 30 minutes of frustrati...
478672  88317594.0  ...  Most annoying things are often bound to advert...
478673  88318391.0  ...  For me  on beta6.0.0 I deleted node modules an...
478674  88319085.0  ...  the latest version of spark has some support f...
478675  88323008.0  ...  Following @milkersarac if you are using `otf` ...

[478676 rows x 3 columns]

#File generator

In [3]:
newanswers = pd.DataFrame(columns= ['Id','ParentId(QuestionId)','Body'])
for q in questions['Id']:
  entry = answers.loc[ answers['ParentId(QuestionId)'] == q ] 
  newanswers = pd.concat([newanswers,entry])
newanswers.reset_index(drop=True, inplace=True)
newanswers.to_csv('/content/drive/MyDrive/Colab Files/TM-Project/newanswers.csv', index=False)
print(newanswers)

               Id  ...                                               Body
0      41412502.0  ...  <p>The reference to the function in <code>setI...
1      41412618.0  ...  <p>Use this instead:</p>  <pre><code>SELECT * ...
2      41412484.0  ...  <p>You need to create a JS file called script....
3      41412570.0  ...  <p>Try</p>  <pre><code>document.addEventListen...
4      41413910.0  ...  <p>In order to execute JavaScript from an exte...
...           ...  ...                                                ...
37270  41764760.0  ...  <p>What about this?</p>  <p><div class="snippe...
37271  41764777.0  ...  <p>It looks like your method should work  tho ...
37272  41764751.0  ...  <p>Assuming the rest of the code tests for <co...
37273  41764785.0  ...  <p>Use find to get the object and then use ind...
37274  41764787.0  ...  <p>You could use <a href="https://developer.mo...

[37275 rows x 3 columns]

In [4]:
newcomments = pd.DataFrame(columns= ['Id','PostId(AnswerId)','Text'])
for a in newanswers['Id']:
  entry = comments.loc[ comments['PostId(AnswerId)'] == a ] 
  newcomments = pd.concat([newcomments,entry])
newcomments.reset_index(drop=True, inplace=True)
newcomments.to_csv('/content/drive/MyDrive/Colab Files/TM-Project/newcomments.csv', index=False)
print(newcomments)

               Id  ...                                               Text
0      70028830.0  ...  Thanks for saving me the unit testing time. Co...
1      70028839.0  ...  As long as you didn't call the `clearInterval`...
2      70028844.0  ...  ahh its referenced from `window/application` t...
3      70029895.0  ...  @Mozzieâ€”setInterval has no idea of how it wa...
4      70029168.0  ...  SELECTing the expression first Â» I didn't eve...
...           ...  ...                                                ...
72019  70722910.0  ...  @PeterA.Schneider: Indeed but that is not the ...
72020  70727734.0  ...  Ah  if the c'tor is not declared in the class ...
72021  70720893.0  ...  You already filtered the element  so you can u...
72022  70720920.0  ...            yes because its the reference passed :)
72023  70720939.0  ...  Yup  that's right - But at least you're demons...

[72024 rows x 3 columns]

#Output Generator

In [5]:
path = "/content/drive/MyDrive/Colab Files/TM-Project/Predict(comment)"
output = []
for file in os.listdir(path):
  file_path = f"{path}/{file}"
  csv = pd.read_csv(file_path)
  for i in range(len(csv)):
    output.append(csv.loc[csv['Row'] == 't'+str(i), 'Predicted'].iloc[0])

output = pd.DataFrame(output, columns=['Label'])

#Accuracy calc

In [ ]:
df = newcomments['PostId(AnswerId)'].copy()
df = pd.concat([df, output], axis= 1)
df = df.dropna()
df.loc[df['Label'] == 'positive', 'Label'] = 5
df.loc[df['Label'] == 'negative', 'Label'] = 0
df.loc[df['Label'] == 'neutral', 'Label'] = 1
print(df)

       PostId(AnswerId) Label
0            41412502.0     0
1            41412502.0     1
2            41412502.0     5
3            41412502.0     0
4            41412618.0     5
...                 ...   ...
72019        41764751.0     1
72020        41764751.0     1
72021        41764785.0     1
72022        41764785.0     1
72023        41764785.0     0

[72024 rows x 2 columns]

In [ ]:
answerID = []
answerScore = []
for a in df['PostId(AnswerId)'].unique():
  score = df.loc[df['PostId(AnswerId)'] == a, 'Label'].sum()
  answerID.append(a)
  answerScore.append(score)

In [ ]:
answerID = pd.DataFrame(answerID, columns=['answerID'])
answerScore = pd.DataFrame(answerScore, columns=['answerScore'])
scores = pd.concat([answerID, answerScore], axis= 1)
print(scores)

         answerID  answerScore
0      41412502.0            6
1      41412618.0            5
2      41412484.0            6
3      41412570.0            9
4      41429503.0            6
...           ...          ...
24284  41764790.0            5
24285  41764674.0            5
24286  41764684.0            0
24287  41764751.0           20
24288  41764785.0            2

[24289 rows x 2 columns]

In [ ]:
aIDs = newanswers[['Id' , 'ParentId(QuestionId)']]
scores['questionID'] = np.zeros(len(scores))
for id, parent in zip(aIDs['Id'], aIDs['ParentId(QuestionId)']):
  scores.loc[ scores['answerID'] == id , 'questionID'] = parent

print(scores)

         answerID  answerScore  questionID
0      41412502.0            6  41412463.0
1      41412618.0            5  41412468.0
2      41412484.0            6  41412475.0
3      41412570.0            9  41412475.0
4      41429503.0            6  41412480.0
...           ...          ...         ...
24284  41764790.0            5  41764579.0
24285  41764674.0            5  41764605.0
24286  41764684.0            0  41764618.0
24287  41764751.0           20  41764658.0
24288  41764785.0            2  41764706.0

[24289 rows x 3 columns]

In [ ]:
accepted = []
for q in scores['questionID'].unique():
  accepted.append(scores.iloc[scores.loc[scores['questionID'] == q, 'answerScore'].idxmax(), 0])

len(accepted)

15462

In [ ]:
trueAccepted = questions['AcceptedAnswerId'].to_numpy()
correct = 0
for i in accepted:
  if i in trueAccepted:
    correct += 1

print( "accuracy: %.2f%%" %(correct / len(accepted)*100 ))

accuracy: 61.55%